.services-widebody{
    background-image: url('https://i.pinimg.com/564x/df/07/b6/df07b64e649b116d848e1c6872a3b92d.jpg');
    height: 40vh;
    width: 100%;
    background-size: stretch;
    /* background-repeat: no-repeat; */
    background-position: center center;

}
.services-wing{
    background-image: url('https://i.pinimg.com/564x/1a/8e/a7/1a8ea7dd3303ffc5927a6f8e34dd2583.jpg');
    height: 40vh;
    width: 100%;
    background-size: stretch;
    /* background-repeat: no-repeat; */
    background-position: center center;

}

.services-exhaust{
    background-image: url('https://i.pinimg.com/564x/81/c2/74/81c2742407885d671d8873e207b76abe.jpg');
    height: 40vh;
    width: 100%;
    background-size: stretch;
    /* background-repeat: no-repeat; */
    background-position: center center;

}