.services-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    align-items: center;

}


.services-card{
    min-height: 200px;
    min-width: 300px;
    width: 80vw;
    height: 50vh;
    margin-top: 4vh;
    margin-bottom: 6vh;
    border: 1px dotted #696969;
}

.services-sub-section{
    display: flex;
    padding: 2vh;
    margin: 0;
    /* border: 1px dotted blue; */
}

.services-img-container{
    width: 46vh;
    height: 46vh;
    overflow: none;
}
.services-img{
    width: 46vh;
    height: 46vh;
    overflow: none;
    border-radius: 5px;
}

.services-description-container{
    margin: 5vh;
    padding: 1vh;
}
.services-description{
    margin-bottom: 2vh;
    background-color: rgba(245,245,245,0.9);
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}