.cart-card-container{
    display: flex;
    height: 7vh;
    min-height: 50px;
}

.cart-card-product{
    width: 45%;
    display: flex;
    align-items: center;
    padding-left: 2vw;
    border-bottom: 1px dotted #E0E0E0;
 
}



/* ---------------------------------------- */

.cart-card-quantity{
    width: 22%;
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding-right: 3vw;
    border-bottom: 1px dotted #E0E0E0;
    justify-content: center;
}
.cart-card-quantity-remove{
    width: 15%;
}

.cart-card-quantity-amount{
    width: 33%;
}

.cart-card-quantity-add{
    width: 15%;
}

.quantity-button{
    background-color: rgba(0,0,0,0);
    border: 1px dotted #F0F0F0;
    border-radius: 50px;
}


/* ---------------------------------------- */


.cart-card-price{
    width: 15%;
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding-left: 2vw;
    border-bottom: 1px dotted #E0E0E0;
}

.cart-card-delete{
    width: 10%;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px dotted #E0E0E0;
    
}