.carosel-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 6vh;
}


.carosel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 70vw;
    max-height: 90vh;
}
.carosel-img-container{
    max-height: 80vh;
    /* object-fit: scale-down; */


}

.carosel-img{
    max-height: 100%;
    max-height: 75vh;
    object-fit: contain;
    
}