.carosel-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 12vh;
    z-index: -1;
}


.carosel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 70vw;
    max-height: 90vh;
    z-index: 2;
}
.carosel-img-container{
    max-height: 80vh;
    z-index: -1;
    /* object-fit: scale-down; */


}

.carosel-img{
    max-height: 100%;
    max-height: 75vh;
    object-fit: contain;
    z-index: -3;
    
}


