.App {
  text-align: center;
  /* background-color: #BABABA; */
  min-height: 100vh;
  /* width: 100vw; */
  margin-top: 5vh;
  background-image: url('https://www.textures.com/system/categories/95266/frontend-large.jpg');

}
main {
  min-height: 80vh;
  padding-top: 6vh;
}
summary {
  min-height: 80vh;
  padding-top: 6vh;
}